@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Montserrat');

// 1. Your custom variables and variable overwrites.


$default-green: rgba(0, 177, 187, 1); //Green (turquoise)
$primary-blue: rgba(66, 86, 121, 1); //Blue
$secondary-purple: rgba(239, 140, 141, 1); //Purple
$primary-red: rgba(233, 102, 108, 1); // Red
$primary-peach: rgba(238, 141, 121, 1); //Peach (burnt orange)
$primary-orange: rgba(243, 150, 109, 1); //Orange 
$grey: rgba(95, 95, 95, 1);  // dark grey


// global overrides
$global-medium-box-shadow: none;

// overrides for default 
$global-default-background : $default-green;
$card-default-color        : $grey;
$card-default-background   : lighten($default-green, 50%);
$card-default-color-mode   : dark;

// overrides for primary 
$global-primary-background : $primary-blue;
$card-primary-color        : $grey;
$card-primary-background   : lighten($primary-blue, 50%);
$card-primary-color-mode   : dark;

// overrides for secondary 
$global-secondary-background : $secondary-purple;
$card-secondary-color        : $grey;
$card-secondary-background   : lighten($secondary-purple, 20%);
$card-secondary-color-mode   : dark;




// 2. Import default variables and available mixins.
@import "uikit/src/scss/variables-theme.scss";
@import "uikit/src/scss/mixins-theme.scss";

// 3. Mixin stuff
@mixin hook-card-header(){
  color: $grey;
}
@mixin hook-card-footer(){
  color: $grey;
}

// 4. Import UIkit.
@import "uikit/src/scss/uikit-theme.scss";
@import "custom.scss"